*{
    font-size: 20px;
}

#wrapper {
    margin: 0 auto;
    width: 800px;
    padding: 30px;
    background-color: rgb(58, 57, 108);
    border-radius: 10px;
}

#logout {
    float:right;
    margin-top: -10px;
}
h1 {
    font-size: 30px;
}

h2 {
    display: inline-block;
    color: rgb(0, 208, 132);
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

a {
    color: rgb(0, 208, 132);
    text-decoration: none;
}


table {
    border-collapse: collapse;
    margin: 10px;
}

tr:hover {
    background-color: rgb(122, 113, 235);
}

a:hover {
    color:black;
    text-shadow: 1px 1px 1px green;
}

td {
    border: 2px solid rgb(18, 3, 78);
    padding: 5px 10px 5px 5px;
}

thead {
    background-color: rgb(18, 3, 78);
    color: white
}
